<!-- components/header.html -->
<div class="logo-container">
    <img src="assets/LogoBranca.png" alt="Logo Supermercado Voltante" class="header-logo">
    <span class="site-title-part white-text">SUPERMERCADO</span>
    <span class="site-title-part black-text">VOLTANTE</span>
</div>
<nav class="nav-menu">
    <ul>
        <li><a href="estoque.html" class="nav-link">ESTOQUE</a></li>
        <li><a href="caixa.html" class="nav-link">CAIXA</a></li>
        <li><a href="funcionarios.html" class="nav-link">FUNCIONÁRIOS</a></li>
        <li><a href="fluxo.html" class="nav-link">FLUXO</a></li>
        <li><a href="clientes.html" class="nav-link">CLIENTES</a></li>
        <li><a href="fornecedores.html" class="nav-link">FORNECEDORES</a></li>
        <li><a href="reestoque.html" class="nav-link">REESTOCAR</a></li>
    </ul>
</nav>