/* --- ESTILOS ESPECÍFICOS DE CLIENTES --- */

/* Larguras das Colunas da Lista */
.cli-col-name { width: 40%; }
.cli-col-cpf { width: 25%; }
.cli-col-dob { width: 25%; }
.cli-col-btn { width: 10%; display: flex; justify-content: flex-end; }

/* Container de Telefone (Input + Select lado a lado) */
.phone-row {
    display: flex;
    gap: 5px;
}

.phone-input {
    width: 65%;
}

.phone-select {
    width: 35%;
    padding: 8px 2px; /* Padding menor para caber texto */
    font-size: 12px;
    text-align: center;
}

/* Reutilização de estilos do input branco no modal */
.input-white {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 13px;
    color: #333;
}